body {
  background-color: grey;
  margin: 0 auto;
}

.header {
  h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  margin: 0 auto;
  width: 800px;
}

#carousel {
  left:-40px;
  position: absolute;
  top: 30%;
}

.image-list {
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 2000px;
  li {
    display: inline-block;
    float: none;
    height: auto;
    list-style: none;
    text-align: center;
    vertical-align: middle;
  }
  img {
    height: 320px;
    opacity: 0.5;
    padding: 0 1px;
    width: 400px;
  }
  .active {
    img{
    opacity: 1;
    }
  }
}

.navig {
  position: relative;
  top: 500px;
  width: 800px;
  margin: 0 auto;
}
.navig-elements {
  color: white;
  display: flex;
  li {
    border-radius: 50px;
    display: inline-block;
    flex: 1;
    list-style: none;
    height:20px;
    width: 20px;
    &:hover {
      color: red;
    }
  }
  .active i {
    color: red;
  }
}
